body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #333;
    padding: 10px 0;
    color: #fff;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

#navbar ul li a:hover {
    background-color: #575757;
}

.content {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logowanie {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.logowanie h2 {
    text-align: center;
}

.logowanie table {
    width: 100%;
}

.edit-button, .delete-button, .create_page {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.edit-button:hover, .delete-button:hover, .create_page:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    text-align: center;
}
